.app-list__item {
    list-style: none;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 4px;
    &-actions{
        margin: 10px 0;
    }
    &--favorite {
        border: 1px solid red;
    }
}

.bi-heart {
    &--liked {
        color: red;
    }
}